/**
 * 播放器相关样式
 */

/*基本布局*/

html,body{
	height: 100%;
	margin: auto;
}

.player {
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	vertical-align: top;
	box-sizing: border-box;
	color: #fff;
	background-color: #000;
	padding: 0;
	font-size: 10px;
	line-height: 1;
	font-weight: 400;
	font-style: normal;
	font-family: Arial,Helvetica,sans-serif;
	word-break: initial;

}

/* .page {
	display: flex;
	display: -webkit-flex;
	/* min-height: 100vh; */
	/*flex-direction: column;
} */
.page{
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
}

.header {
	/* background: #cecece; */
	color: #FFFFFF;
	background-color: #191919;
	min-height: 20px;
	/* line-height: 25px; */
	text-align: center;
}

.content {
	/* background: #bbbbbb; */
	flex: 1;
	/* 1 代表盡可能最大，會自動填滿除了 header footer 以外的空間 */
	position: relative;
}

.footer {
	min-height: 5px;
	background-color: #191919;
}


/**播放器控制条**/
.control {
	position: absolute;
	/* background: rgba(255, 255, 0, 0.3); */
	background-color: #AAAAAA;
	width: 85%;
	height: 25px;
	border-radius: 5px;
	left: 50%;
	bottom: 1px;
	transform: translateX(-50%);
}

.control div {
	display: inline-block;
	line-height: 25px;
	margin-left: 10px;
	font-size: 18px;
	color: #fff;
	cursor:pointer; 
}

.control .right div{
	/* color: rgb(255, 255, 0); */
	color: #FFFFFF;
}
.right{
	float: right;
}
.expand {
	margin-right: 10px;
}
/**1、4、9、16、25分屏播放器高度**/
.h_screen_one{
	height: 100%;
}
.h_screen_two{
	height: 50%;
}
.h_screen_three{
	height: 33%;
}
.h_screen_four{
	height: 25%;
}
.h_screen_five{
	height: 20%;
}
/**25分屏播放器宽度**/
.w_screen_five{
	float: left;
	width: 20%;
	position: relative;
    box-sizing: border-box;
}

/**
 * app
 */
.ptz-block-app {
	position: absolute;
	z-index: 99999;
	height: 220px;
	width: 150px;
	right: 20px;
	top: 20px;
	text-align: center;
	font-size: 24px;
	background: hsla(0, 0%, 93%, .6);
	border-radius: 16px;
	overflow: hidden;
}

/**标准控制面板**/
.ptz-block-app .ptz-cell-app{
	line-height: 50px;
	height: 50px;
	width: 50px;
	position: absolute;
	cursor: pointer;
}

.ptz-block-app .ptz-up-app{
	top: 70px;
	left: 50px;
}

.ptz-block-app .ptz-left-app{
	top: 120px;
	left: 0;
}

.ptz-block-app .ptz-center-app{
	top: 120px;
	left: 50px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	border-radius: 25px;
	background: hsla(0, 0%, 80%, .2);
	/* cursor: move; */
}

.ptz-block-app .ptz-right-app{
	top: 120px;
	left: 100px;
}

.ptz-block-app .ptz-down-app{
	top: 170px;
	left: 50px;
}

.ptz-block-app .ptz-plus-app{
	top: 25px;
	left: 5px;
}

.ptz-block-app .ptz-minus-app{
	top: 25px;
	right: 5px;
}

/**
 * 播放器云台控制面板
 */
.ptz-block {
	position: absolute;
	z-index: 99999;
	width: 150px;
	height: 220px;
	right: 20px;
	top: 20px;
	text-align: center;
	font-size: 24px;
	background: hsla(0,0%,93%,0);
	border-radius: 16px;
	overflow: hidden;
}
/**标准控制面板**/
.ptz-block .ptz-cell{
	line-height: 50px;
	height: 50px;
	width: 50px;
	position: absolute;
	cursor: pointer;
}

.ptz-block .ptz-up{
	top: 70px;
	left: 50px;
}

.ptz-block .ptz-left{
	top: 120px;
	left: 0;
}

.ptz-block .ptz-center{
	top: 120px;
	left: 50px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	border-radius: 25px;
	background: hsla(0, 0%, 80%, .2);
	/* cursor: move; */
}

.ptz-block .ptz-right{
	top: 120px;
	left: 100px;
}

.ptz-block .ptz-down{
	top: 170px;
	left: 50px;
}

.ptz-block .ptz-plus{
	top: 25px;
	left: 5px;
}

.ptz-block .ptz-minus{
	top: 25px;
	right: 5px;
}

.normal_ptz_up{
	background:url(../img/up.png) no-repeat 1px 1px;
}
.normal_ptz_down{
	background:url(../img/down.png) no-repeat 1px 1px;
}
.normal_ptz_left{
	background:url(../img/left.png) no-repeat 1px 1px;
}
.normal_ptz_right{
	background:url(../img/right.png) no-repeat 1px 1px;
}
.normal_ptz_zoomout{
	background:url(../img/jia.png) no-repeat 1px 1px;
}
.normal_ptz_zoomin{
	background:url(../img/jian.png) no-repeat 1px 1px;
}

.select_ptz_up{
	background:url(../img/select_up.png) no-repeat 1px 1px;
}
.select_ptz_down{
	background:url(../img/select_down.png) no-repeat 1px 1px;
}
.select_ptz_left{
	background:url(../img/select_left.png) no-repeat 1px 1px;
}
.select_ptz_right{
	background:url(../img/select_right.png) no-repeat 1px 1px;
}
.select_ptz_zoomout{
	background:url(../img/select_jia.png) no-repeat 1px 1px;
}
.select_ptz_zoomin{
	background:url(../img/select_jian.png) no-repeat 1px 1px;
}

.no_ptz_up{
	background:url(../img/no_up.png) no-repeat 1px 1px;
}
.no_ptz_down{
	background:url(../img/no_down.png) no-repeat 1px 1px;
}
.no_ptz_left{
	background:url(../img/left.png) no-repeat 1px 1px;
}
.no_ptz_right{
	background:url(../img/no_right.png) no-repeat 1px 1px;
}
.no_ptz_zoomout{
	background:url(../img/no_jia.png) no-repeat 1px 1px;
}
.no_ptz_zoomin{
	background:url(../img/no_jian.png) no-repeat 1px 1px;
}